/* body {
    background-color: #080808;
} */
.leaflet-container{
    width: 80vw;
    height: 40vw;
    margin-top:5vw;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 0vw;
}

.map-body {
    margin-bottom: 30px;
}

.about-body {
    /* background-color: #272760; */
    background-color: #080808;
}

.ukuran {
    height: 180px;
    width: 140px;
}

.card-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 70px;
    position: relative;
    width: 400px;
    z-index: 2;
    /* height: 100%; */
}

.card-inside {
    background-color: #080808;
}

.premium {
    color: #fff;
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 70px;
}

.month {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 70px;
}

.get-started {
    color: #fff;
    text-align: center;
    font-size: 25px;
    padding-bottom: 30px;
    /* border: #fff solid 2px;
    border-radius: 40%;
    width: calc(50%); */
}

.card-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    transform: translate(-4px, -4px);
    background: linear-gradient(60deg,
        #5ff281, #5f86f2, #a65ff2,
        #f25fd0, #f25f61, #f2cb5f
    ) 0 50%;
    background-size: 300% 300%;
    animation: gradient-animation 2.5s alternate infinite;
    border-radius: 8px;
    z-index: -1;
}

@keyframes gradient-animation {
    50% {
        background-position: 100% 50%;
    }
}